@import "home.scss";
@import "my-creative.scss";

*:focus::before {
  opacity: 0 !important;
}

.header {
  @include position;
  height: $header-heigth !important;
}

.snb {
  @include position($top: $header-heigth);
  max-height: none !important;
  height: $snb-height !important;
  width: $snb-width !important;
}

.main {
  padding: {
    top: $header-heigth !important;
    right: 0 !important;
    bottom: 0 !important;
    left: $snb-width !important;
  }
}
