@import "var.scss";

.header {
  @include xy;
  height: $header-heigth !important;
}

.snb {
  @include xy($y: $header-heigth);
  max-height: none !important;
  height: $snb-height !important;
  width: $snb-width !important;
}

.main {
  padding: {
    top: $header-heigth !important;
    right: 0 !important;
    bottom: 0 !important;
    left: $snb-width !important;
  }
}
