@import "var.scss";

table {
  border-spacing: 0 20px !important;
  padding: 0 20px;
  margin: 20px 0;
  border-top: 3px solid grey !important;
  thead {
    tr {
      th {
        border: none !important;
      }
    }
  }
  tbody {
    tr {
      box-shadow: $table-shadow;
      border-radius: 5px !important;
      td {
        border: none !important;
      }
    }
  }
}

.card {
  border-radius: 10px !important;
  .card-btn {
    position: absolute;
    @include xy($-x: 5%, $y: 5%);
    .v-btn {
      &:focus::before {
        opacity: 0 !important;
      }
    }
  }
}

.active {
  outline: 2px solid #b39ddb;
}

.url-menu {
  // position: absolute;
  margin-top: 20px;
}
