$header-heigth: 70px;
$snb-height: calc(100% - $header-heigth);
$snb-width: 250px;
$table-shadow: 0 0 2px rgba(0, 0, 0, 0.5);

@mixin position($left: 0, $top: 0, $right: null, $bottom: null) {
  left: $left !important;
  top: $top !important;
  @if $right {
    right: $right !important;
    left: auto !important;
  }
  @if $bottom {
    bottom: $bottom !important;
    top: auto !important;
  }
}

@mixin position-center {
  left: 50% !important;
  right: 50% !important;
  transform: translate(-50%, -50%) !important;
}

@mixin table {
}
