.search-title {
  font-size: 18px !important;
  font-weight: map-get($map: $font-weight, $key: "bold") !important;
}

.color {
  color: map-get($map: $main-color, $key: "main");
}

.count {
  color: map-get($map: $font-color, $key: "color-1");
}

.search-title-margin {
  margin: 16px 0;
}

.sub-title {
  font-size: 18px !important;
  font-weight: map-get($map: $font-weight, $key: "regular") !important;
}

.img {
  border-radius: $radius;
  width: 284px;
  height: 200px;
  box-shadow: $box-shadow;
  z-index: 1;
}

.contents {
  width: 284px;
  position: relative;
  display: block;
  // border-radius: $radius !important;
  .contents-btn {
    position: absolute;
    @include position($top: 5%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
  }
  .contents-title {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .contents-text {
    font-size: 13px;
    color: map-get($map: $font-color, $key: "color-1");
  }
}

// .active {
//   outline: 2px solid #b39ddb !important;
// }

.drop-menu {
  box-shadow: none;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  overflow: visible;
  contain: none;
  .edit-menu {
    width: 180px;
    height: 270px;
    @include drop-menu-box;
    .edit-active {
      background-color: map-get($map: $main-color, $key: "sub-2");
      &::before {
        opacity: 0;
      }
    }
    .v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
      color: inherit !important;
    }
    .edit-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }
  }
  .url-menu {
    width: 300px;
    position: absolute;
    @include position($left: 100%, $top: 130px);
    @include drop-menu-box;
    .url-title {
      color: map-get($map: $font-color, $key: "color-3");
    }
    .url-menu-item {
      min-height: 40px !important;
      .url-title-sub {
        font-size: 9pt !important;
      }
    }
    .text {
      border: 1px solid map-get($map: $line-color, $key: "color-1");
      margin: 2rem;
    }
    .v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
      color: inherit !important;
    }
  }
}
