.subtitle {
  margin: 16px 0;
}

.card {
  border-radius: $radius !important;
  .card-btn {
    position: absolute;
    @include position($right: 5%, $top: 5%);
  }
}

.active {
  outline: 2px solid #b39ddb !important;
}

.edit-menu {
  z-index: 10;
  position: absolute;
  @include position($left: 50%, $top: 50px);
  .url-menu {
    border-radius: $radius !important;
    position: absolute;
    @include position($left: 100%, $top: 50%);
    .text {
      border: 2px solid rgba(0, 0, 0, 0.232);
      margin: 2rem;
    }
  }
}
