@import "mixin";
@import "main";
@import "home";
@import "my-creative";
@import "header";
@import "snb";
@import "search";
@import "popup-folder";

* {
  letter-spacing: $letter-spacing !important;
}

*:focus::before {
  opacity: 0 !important;
}

#app {
  @include main-font;
  line-height: 1 !important;
}

.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  @include main-font;
}
